<div class="container">    
    <p>
     <%= @user.first_name %>
    </p>
    <p>
      <%= @user.last_name %>
    </p>
    <p>
      <%= @user.email %>
    </p>   
    <p>
      <%= @user.address %>
    </p>
    <p>
      <%= @user.contact %>
    </p>
    <p>
      <%= link_to 'Back', users_path %>
    </p>

</div>