<div class="container">    
  <p>
    <%= @product_category.name %>
  </p>
 <table class="table-bordered table">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          <% @products.all.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= product.product_category.name %></td>
            <td><%= link_to 'Show', product_path(product) %></td>
            <td><%= link_to 'Edit', edit_product_path(product) %></td>
            <td><%= link_to 'Destroy', product_path(product),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
 <%= link_to 'Back', product_categories_path %>
</p>

</div>
